#dvd-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    pointer-events: none; /* Prevent interaction */
}

/* Image styling */
#bouncing-image {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../lebronjams.png'); /* Replace with your image URL */
    background-size: cover;
    transition: transform 0.1s; /* Smooth transform effect */
    scale: 3;
}